<!DOCTYPE html>
<html>
  <head>
    <title>Spaceflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162633773-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162633773-2');
    </script>

    <link rel="icon" href="<%= image_url('spaceflix-favicon.png') %>">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript">
        window.backupTrailerURL = "<%= image_url('backup_trailer.mp4') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>